{% extends "base.html" %}

{% block main_content %}
    <h2> Login </h2>

    <form action="" method="POST" novalidate>

        {{ form.hidden_tag() }}
        {{ form.user_name.label }}
        {{ form.user_name() }}

        {% for error in form.user_name.errors %}
            {{ error }}
        {% endfor %}

        <br/>

        {{ form.password.label }}
        {{ form.password() }}

        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}

        <br/>

        {{ form.submit() }}


    </form>


{% endblock %}