{% extends "base.html" %}

{% block main_content %}
    <h2> Register</h2>

    <form id="first_form" action="" method="POST" novalidate>

        {{ form.hidden_tag() }}
        {{ form.user_name.label }}
        {{ form.user_name() }}

        {% for error in form.user_name.errors %}
            {{ error }}
        {% endfor %}

        <br/>

        {{ form.password.label }}
        {{ form.password() }}

        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}

        <br />

        {{ form.password2.label }}
        {{ form.password2() }}

        {% for error in form.password2.errors %}
            {{ error }}
        {% endfor %}
       
        <br/>

        {{ form.submit() }}


    </form>
{% endblock %}